<h5>Category: <%= @question.category.name %></h5>

<h1>Would you rather...</h1>


<% @question.choices.each do |choice| %>
  <%= form_tag "/questions/#{@question.id}/answers" do %>
    <%= hidden_field_tag :'answer[choice_id]', choice.id%>
    <%= hidden_field_tag :'answer[user_id]', current_user.id%>
    <%= hidden_field_tag :'answer[question_id]', @question.id%>
    <% if choice.img_url %>
      <%= image_submit_tag choice.img_url %>
    <% else %>
      <%= submit_tag choice.content %>
    <% end %>
  <% end %>
<% end %>



<h2>Comments</h2>
<% if @comments.empty? %>
  <p>No comments yet!</p>
<% else %>
  <ul>
  <% @comments.each do |comment| %>
    <li><%= comment.user.username %> - <%= comment.content %></li>
  <% end %>
  </ul>
<% end %>
