<% if flash[:reanswer_message] %>
  <p class: "warning"><%= flash[:reanswer_message] %></p>
<% end %>
<br>

<h3>Category: <%= @question.category.name %></h3>

<div class="jumbotron">
  <h1>Would you rather...</h1>
</div>

<div class="row">
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <% @question.choices.each do |choice| %>
    <div class="col-lg-5 col-md-5 col-sm-5 text-center" >
    <%= form_tag question_answers_path(@question) do %>
      <%= hidden_field_tag :'answer[choice_id]', choice.id%>
      <%= hidden_field_tag :'answer[user_id]', current_user.id%>
      <%= hidden_field_tag :'answer[question_id]', @question.id%>
      <% if choice.img_url %>
          <%= image_submit_tag choice.img_url, class: "img-thumbnail" %>
          <h4><%= choice.name%></h4>
      <% else %>
          <%= submit_tag choice.content, class: "choice-btn"%>
      <% end %>
    <% end %>
    </div>
  <% end %>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
</div>


<hr class="large">
<div class="row">
  <h3>Comments</h3>

  <div class="col-lg-12 col-md-12 col-sm-12 comment-box" >
  <% if @comments.empty? %>
    <p>No comments yet!</p>
  <% else %>
    <ul>
    <% @comments.each do |comment| %>
      <li><strong><%= comment.user.username %></strong> - <%= comment.content %></li>
      <hr>
    <% end %>
    </ul>
  <% end %>
  </div>
</div>
