<div class="jumbotron">
  <h1>Edit Profile</h1>
</div>

<br>
<h3>Username: <%= current_user.username %></h3>
<br>
<br>


<%= form_for current_user do |f| %>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label 'Email' %>
      <%= f.text_field :email, class: "form-control" %>
      <%= f.label 'New Password' %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label 'Confirm Password' %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <div class="form-group col-md-12">
    <%= f.submit "Submit", class:"btn btn-danger" %>
  </div>
<% end %>
