<h1>Hello, <%= current_user.username %></h1>
<p><%= current_user.email %></p>
<p><%= current_user.dob %></p>
<p><%= current_user.zip_code %></p>


<h4>You've answered <%= pluralize(@answers.size,'questions') %>.</h4>
<ul>
  <% @answers.each do |answer| %>
    <li>Between <%= answer.question.description %>, you picked <%= answer.choice.name %>.</li>
  <% end %>
</ul>

<h4>You've made <%= pluralize(@comments.size,'comment') %>.</h4>

<% if @comments.empty? %>
  <p>No comments yet!</p>
<% else %>
  <ul>
  <% @comments.each do |comment| %>
    <li><%= comment.user.username %> - <%= comment.content %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to "Edit Profile", edit_user_path %>
