<h1><%= current_user.username %></h1>
<p><%= current_user.email %></p>
<p><%= current_user.dob %></p>
<p><%= current_user.zip_code %></p>


<h3>You've answered <%= pluralize(@answers.size,'questions') %>.</h3>
<ul>
  <% @answers.each do |answer| %>
    <li>Between <%= answer.question.description %>, you picked <%= answer.choice.name %>.</li>
  <% end %>
</ul>

<h3>You've made <%= pluralize(@comments.size,'comment') %>.</h3>

<% if @comments.empty? %>
  <p>No comments yet!</p>
<% else %>
  <ul>
  <% @comments.each do |comment| %>
    <li><%= comment.user.username %> - <%= comment.content %></li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'Edit User Info', edit_user_path %>
