<h5>Category: <%= @question.category.name %></h5>

<h1>Would you rather...</h1>


<% @question.choices.each do |choice| %>

  <% if choice.img_url %>
    <%= image_tag choice.img_url %>
    <% if choice == @answer.choice %>
      <%= @stats[:choice] %>
    <% else %>
      <%= @stats[:not_choice] %>
    <% end %>
  <% else %>
    <%= choice.content %>
    <% if choice == @answer.choice %>
      <%= @stats[:choice] %>
    <% else %>
      <%= @stats[:not_choice] %>
    <% end %>
  <% end %>
<% end %>


<% if remaining_questions.empty? %>
  <%= button_to 'Give Me More!', out_of_questions_path, method: "get" %>
<% else %>
  <%= button_to 'Give Me More!', question_path(select_unanswered_question), method: "get" %>
<% end %>


<h2>Comments</h2>
  <%= form_tag comments_path do %>
    <%= hidden_field_tag :'comment[user_id]', current_user.id %>
    <%= hidden_field_tag :'comment[question_id]', @question.id %>
    <%= text_area_tag :'comment[content]', nil, placeholder: "Enter comment here..." %>
    <%= submit_tag "Submit Comment" %>
  <% end %>
<% if @comments.empty? %>
  <p>No comments yet!</p>
<% else %>
  <ul>
  <% @comments.each do |comment| %>
    <li><%= comment.user.username %> - <%= comment.content %></li>
  <% end %>
  </ul>
<% end %>
