<!DOCTYPE html>
<html>
  <head>
    <title>Would You Rather</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a href="<%= root_url %>" class="navbar-brand">Home</a>
        <% if current_user %>
          <a class="navbar-brand" href="<%= user_path(current_user) %>">Hello, <%= current_user.username.titleize %>!</a>
          <% if remaining_questions.empty? %>
            <%= link_to 'Questions', out_of_questions_path , {class: "navbar-brand"} %>
          <% else %>
            <%= link_to 'Questions', question_path(select_unanswered_question), {class: "navbar-brand"} %>
          <% end %>
          <%= link_to 'Categories', categories_path, {class: "navbar-brand"} %>
          <%= link_to 'Log Out', logout_path, {class: "navbar-brand", method: 'DELETE'} %>
        <% else %>
          <a class="navbar-brand" href="<%= signup_path %>">Sign Up</a>
          <a class="navbar-brand" href="<%= login_path %>">Log In</a>
        <% end %>
      </div>
    </nav>


    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

  </body>
</html>
